<html>
    <head>
    <style>
    h1 {
        color: black;
        background-color: orange;
        padding: 20px;
        border: 2px solid black;
        display: inline-block; 
    }

    h3 {
        color: black;
        background-color: aqua;
        padding: 2px;
        border: 2px solid black;
        display: block;
    }

    p {
        color: black;
        background-color: blanchedalmond;
        border: 2px solid black;
        display: inline-block;
    }

    </style>
        <meta charset="utf-8">
        <title>Challenge: Colorful creature</title>
        
        
        
    </head>
    <body>
        <!-- TODO: Figure out how to put a border around this. -->
        <h1>Parameterize this: Massanutten Downhill Park</h1>

        <!-- TODO: Figure out how to put a border around this. -->
        <h3>Preciptation within the last 30ish days.</h3>
        <ol>
        {% for precip_amount in rain_list %}
            <li><span>{{precip_amount}}</span></li>
        {% endfor %}
        </ol>

        <!-- TODO: Figure out how to put a border around this. -->
        <p>{{trail_conditions}}</p>
    </body>
</html> 